################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIGI/WebApp/WebApplication/.vs/WebApplication1/v15
*.lock
