
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class=" login">
    <div>
    <h1>SIGI</h1>
    <form action="/Login/Autenticar" method="post">
        <div>
            <label for="login">Login</label>
            <input id="login" type="text" name="usuario.Login">
            <label for="senha">Senha</label>
            <input id="senha" type="password" name="usuario.Senha">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>
</body>
</html>
