
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Cadastro De Pais</title>
</head>
<body>
    <h1>Lista de paises</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pais in ViewBag.paises)
            {
                <tr>
                    <td class="pais@(pais.Id)">@pais.Id</td>
                    <td class="pais@(pais.Id)">@pais.Nome</td>
                    
                </tr>
            }
        </tbody>
    </table>
    
</body>

</html>

