
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acesso Negado</title>
</head>
<body>
    <div> 
        <h1>ACESSO NEGADO</h1>
        <h3>Motivo</h3>
        <p>A pagina que você tentou acessar requer satatus de Administrador</p>
    </div>
</body>
</html>
