
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
    #chartdiv2{
        width: 100%;
        height: 500px;
    }
</style>

<script>
    //$(document).ready(function () {
    //    $('#gridPaises').dataTable({
    //        language: {
    //            aria: {
    //                sortAscending: ": activate to sort column ascending",
    //                sortDescending: ": activate to sort column descending"
    //            },
    //            emptyTable: "No data available in table",
    //            info: "Showing _START_ to _END_ of _TOTAL_ entries",
    //            infoEmpty: "No entries found",
    //            infoFiltered: "(filtered1 from _MAX_ total entries)",
    //            lengthMenu: "_MENU_ entries",
    //            search: "Search:",
    //            zeroRecords: "No matching records found"
    //        },
    //        fixedHeader: {
    //            header: !0
    //        },
    //        order: [
    //            [0, "asc"]
    //        ],
    //        lengthMenu: [
    //            [5, 10, 15, 20, -1],
    //            [5, 10, 15, 20, "All"]
    //        ],
    //        pageLength: 20
    //    })
    //}
    //);



</script>
<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2" id="semana">
            <div class="display">
                <div class="number">
                    <h3 id="semana-valorprincipal-cor"class="font-green-sharp">
                        <span data-counter="counterup" id="semana-valorprincipal" data-value="0">0</span>
                        <small id="semana-valorprincipal-cor-icon" class="font-green-sharp">%</small>
                    </h3>
                    <small>Atendimentos Convertido</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span id="barra-progresso-semana" style="width: 0%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only" id="barra-progresso-legenda-semana" >0% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" id="legenda-semana">Atendimentos convertidos nesta semana</div>
                    <div class="status-number" id="legenda-num-semana">0% </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 id="mes-valorprincipal-cor" class="font-green-sharp">
                        <span data-counter="counterup" id="mes-valorprincipal" data-value="0">0</span>
                        <small id="mes-valorprincipal-cor-icon" class="font-green-sharp">%</small>
                    </h3>
                    <small>Atendimentos Convertido</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span id="barra-progresso-mes" style="width: 0%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only" id="barra-progresso-legenda-mes">0% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" id="legenda-mes">Atendimentos convertidos neste mês</div>
                    <div class="status-number" id="legenda-num-mes">0% </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 id="ano-valorprincipal-cor" class="font-green-sharp">
                        <span data-counter="counterup" id="ano-valorprincipal" data-value="0">0</span>
                        <small id="ano-valorprincipal-cor-icon" class="font-green-sharp">%</small>
                    </h3>
                    <small>Atendimentos Convertido</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span id="barra-progresso-ano" style="width: 0%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only"id="barra-progresso-legenda-ano">0% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" id="legenda-ano">Atendimentos convertidos dos últimos 12 meses</div>
                    <div class="status-number" id="legenda-num-ano">0% </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chartdiv"></div>
<div id="chartdiv2"></div>
<script src="~/content/scripts/DashBoard.js"></script>